<!DOCTYPE html>
<html>

<head>
    <title>DataWarehouse_skrel</title>
    <style>
        * {
            box-sizing: border-box;
        }

        div.header {
            width: 100%;
            /*min-height: 55px;*/
            margin: auto;
            text-align: left;
            /*border: 2px solid #eee;*/
            /* */
            /*border-bottom-right-radius: 10px;*/
            /*border-bottom-left-radius: 10px;*/
            /*background-color: #eee;*/
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .columncontrolpanel {
            float: left;
            width: 20%;
            height: auto;
            padding: 10px;
            margin-top: 30px;
            /*margin: auto;*/
            box-shadow: -5px -5px 30px #888888;
            border-radius: 8px;
            /*border-left: 1px solid #444;*/
        }

        .columnfullpagemain {
            float: left;
            width: 75%;
            padding: 10px;
            margin: auto;
            margin-left: 30px;
            /* text-align: center; */
        }

        .columnbutton {
            float: left;
            width: 5%;
            height: 350px;
            padding: 10px;
        }

        .columnmain {
            float: left;
            width: 40%;
            padding: 10px;
            margin: auto;
            margin-left: 30px;
        }

        .columnmainbottom {
            float: left;
            width: 75%;
            padding: 10px;
            margin: auto;
            margin-left: 30px;
        }



        .columnlastupdate {
            float: left;
            width: 15%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
        }


        .columnbackendresponse {
            float: left;
            width: 17%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
            background-color: #ffeaa3;
        }

        .columnbackendresponsemessage {
            float: left;
            width: 17%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
            background-color: #ffeaa3;
            min-height: 270px;
            /*box-shadow: 5px 10px #888888;*/
        }

        .columnstatus {
            float: left;
            width: 10%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
        }

        .buildmasterlldb {
            float: left;
            width: 12%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
        }

        .columnbuildfinallldb {
            float: left;
            width: 12%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
            text-align: center;
        }

        h3 {
            padding: 2px;
            text-align: left;
            font-family: "Lucida Console", "Courier New", monospace;
        }

        div.content {
            width: 500px;
            margin: auto;
            padding: 10px;
        }

        label.step2 {
            margin: 10px;
            font-family: "Lucida Console", "Courier New", monospace;
        }

        input[type=button],
        input[type=submit],
        input[type=reset] {
            background-color: #2c10ff;
            border: none;
            color: white;
            padding: 8px 12px;
            text-decoration: none;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 5px;
            font-family: "Lucida Console", "Courier New", monospace;
        }

        input:disabled,
        input[disabled] {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }

        input[type=submit]:hover {
            background-color: #3b863f;
        }

        input[type=text],
        input[type=number],
        input[type=currency],
        select {
            width: 40%;
            padding: 5px 20px;
            /* margin: 8px 0; */
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;

        }


        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active,
        .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        .p3 {
            font-family: "Lucida Console", "Courier New", monospace;
        }




        /* Loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }





        /*canvas{

            width:100px !important;
            height:100px !important;
          
          }*/



        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            font-family: "Lucida Console", "Courier New", monospace;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        @keyframes blink {
            50% {
                color: transparent
            }
        }

        .loader__dot {
            animation: 1s blink infinite
        }

        .loader__dot:nth-child(2) {
            animation-delay: 250ms
        }

        .loader__dot:nth-child(3) {
            animation-delay: 500ms
        }
    </style>
</head>

<body>

    <!-- <div id="loader"></div> -->
    <div class="tab">
        <button class="tablinks">Home</button>
        <button class="tablinks">Azure</button>
        <button class="tablinks">Salesforce</button>
        <button class="tablinks">Help</button>
        <button class="tablinks">Refresh</button>
    </div>

    <!-- main div -->
    <!-- <div style="display:none;" id="myDiv" class="row"> -->
    <div class="row">
        <!-- main screen -->
        <div class="columnfullpagemain">

            <!-- Import Data Sources to LLDB (Data Warehouse) -->
            <!-- ========================================= -->

            <div class="header">
                <h3 style="margin: 2px;">Import Data Sources to LLDB</h3>
            </div>

            <!-- headers -->
            <div class="row">
                <div class="columnmain">
                    <p class="p3" style="margin: 10px; font-weight: bold;">Upload File </p>
                </div>
                <div class="columnlastupdate">
                    <p class="p3" style="margin: 10px; font-weight: bold;">Last Update</p>
                </div>
                <div class="columnstatus">
                    <form id="fakeresponse" method="GET" action="/fake/response" enctype="multipart/form-data">
                        <input type="submit" id="getproduct" value="Status" style="width: 100%;" />
                    </form>
                </div>
                <div class="buildmasterlldb">
                    <form id="buildmasterlldb" method="GET" action="/buildmasterlldb" enctype="multipart/form-data">
                        <input type="submit" value="Master LLDB" style="width: 100%;" />
                    </form>
                </div>
                <div class="columnbackendresponse">
                    <p class="p3" style="margin: 10px; font-weight: bold;">Server Response</p>
                </div>
            </div>

            <div class="row">
                <div class="columnmain">
                    <!-- CCD Data -->
                    <form id="postfile" method="POST" action="/postfile" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="   Submit CCD    " />
                    </form>

                    <!-- CCD Enrollment Data -->
                    <br />
                    <form id="postfile" method="POST" action="/postfile" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="Submit Enrollment" />
                    </form>

                    <!-- Reonomy Data -->
                    <br />
                    <form id="postfilereonomy" method="POST" action="/postfile" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value=" Submit Reonomy  " />
                    </form>

                    <!-- Sate Funding Data -->
                    <br />
                    <form id="postfilestfund" method="POST" action="/postfilestfund" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="Submit State Fund" />
                    </form>

                    <!-- CoStar Data -->
                    <br />
                    <form id="postfilecostar" method="POST" action="/postfile" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="  Submit CoStar  " />
                    </form>
                </div>

                <div class="columnlastupdate">
                    <!-- CCD -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">
                        <%= ccdLastUpdate %>
                    </p>
                    <!-- CCD Enr -->
                    <p class="p3" style="margin-bottom: 35px;  margin-top: 10px">
                        <%= enrLastUpdate %>
                    </p>
                    <!-- Reonomy -->
                    <p class="p3" style="margin-bottom: 35px;  margin-top: 10px">
                        <%= reonomyLastUpdate %>
                    </p>
                    <!-- St Fund -->
                    <p class="p3" style="margin-bottom: 35px;  margin-top: 10px">No data</p>
                    <!-- CoStar -->
                    <p class="p3" style="margin-bottom: 35px;  margin-top: 10px">
                        <%= coStarLastUpdate %>
                    </p>
                </div>


                <div class="columnstatus">
                    <!-- CCD -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">
                        <%= ccdPipeStatus %>
                    </p>
                    <!-- CCD Enr -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">
                        <%= ccdEnrPipeStatus %>
                    </p>
                    <!-- Reonomy -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">
                        <%= reonomyPipeStatus %>
                    </p>
                    <!-- St Fund -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">No data</p>
                    <!-- CoStar -->
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px">
                        <%= coStarPipeStatus %>
                    </p>
                </div>

                <div class="buildmasterlldb">
                    <p class="p3">Last update {date}</p>
                </div>

                <div class="columnbackendresponsemessage">
                    <p class="p3" style="margin-bottom: 35px; margin-top: 10px"><%= serverResponse %> To re-sync Salesforce data click <a href="https://charterschoolcapital--cscdev.sandbox.lightning.force.com/lightning/n/CSC_Data_Hub">link...</a>
                            <div class="loader"><span class="loader__dot">.</span><span
                                    class="loader__dot">.</span><span class="loader__dot">.</span></div>
                    </p>

                </div>
            </div>


            <!-- Manually Set LLDB Datapoints (Salesforce) -->
            <!-- ========================================= -->

            <div class="row">
                <div class="header">
                    <h3 style="margin: 2px;">Manually Set LLDB Datapoints</h3>
                </div>

                <!-- headers -->
                <div class="row">
                    <div class="columnmain">
                        <p class="p3" style="margin: 10px; font-weight: bold;">Enter Values</p>
                    </div>
                    <div class="columnlastupdate">
                        <!-- <form id="add" method="POST" action="/add" enctype="multipart/form-data"> -->
                            <input id="startBtn" type="submit" value="Add Values" />
                        <!-- </form> -->
                    </div>
                    <div class="columnstatus"></div>
                    <div class="buildmasterlldb"></div>
                    <div class="buildmasterlldb"></div>
                </div>


                <form action="/add" method="POST">
                    <div class="columnmain">

                        <select id="state" name="state" style="border-color: red" onchange="enableStartBtn()">
                            <option value="selectstate">Select Sate ...</option>
                            <option value="al">AL</option>
                            <option value="ak">AK</option>
                            <option value="az">AZ</option>
                            <option value="ar">AR</option>
                            <option value="dc">DC</option>
                            <option value="ca">CA</option>
                            <option value="co">CO</option>
                            <option value="ct">CT</option>
                            <option value="de">DE</option>
                            <option value="fl">FL</option>
                            <option value="ga">GA</option>
                            <option value="hi">HI</option>
                            <option value="id">ID</option>
                            <option value="il">IL</option>
                            <option value="in">IN</option>
                            <option value="ia">IA</option>
                            <option value="ks">KS</option>
                            <option value="ky">KY</option>
                            <option value="la">LA</option>
                            <option value="me">ME</option>
                            <option value="md">MD</option>
                            <option value="ma">MA</option>
                            <option value="mi">MI</option>
                            <option value="mn">MN</option>
                            <option value="ms">MS</option>
                            <option value="mo">MO</option>
                            <option value="mt">MT</option>
                            <option value="ne">NE</option>
                            <option value="nv">NV</option>
                            <option value="nh">NH</option>
                            <option value="nj">NJ</option>
                            <option value="nm">NM</option>
                            <option value="ny">NY</option>
                            <option value="nc">NC</option>
                            <option value="nd">ND</option>
                            <option value="oh">OH</option>
                            <option value="ok">OK</option>
                            <option value="or">OR</option>
                            <option value="pa">PA</option>
                            <option value="ri">RI</option>
                            <option value="sc">SC</option>
                            <option value="sd">SD</option>
                            <option value="tn">TN</option>
                            <option value="tx">TX</option>
                            <option value="ut">UT</option>
                            <option value="vt">VT</option>
                            <option value="va">VA</option>
                            <option value="wa">WA</option>
                            <option value="wv">WV</option>
                            <option value="wi">WI</option>
                            <option value="wy">wy</option>
                        </select>
                        <br /><br />

                        <input type="number" step="0.01" id="revenue" name="revenue"
                            placeholder="Revenue per Student ..." value="" onkeyup="validate()" />
                        <br /><br />

                        <input type="number" step="0.01" name="psfdiscount" placeholder="PSF Discount ..." value="" />
                        <br /><br />

                        <input type="number" step="0.01" name="cscpremium" placeholder="CSC Premium ..." value="" />
                        <br /><br />

                        <input type="number" step="0.01" name="flatrentassum" placeholder="Flat Rate Assumption ..."
                            value="" />
                        <br /><br />

                    </div>

                </form>
            </div>
        </div>

        <!-- control panel -->
        <!-- <div class="columncontrolpanel" style="background-color: azure; border: 3px solid #000; border-radius: 10px"> -->
        <div class="columncontrolpanel">

            <div>
                <p class="p3" style=" font-weight: bold;">Record Count and Data Saturation</p>
                <canvas id="myChart" ></canvas>
            </div>

            <table>
                <tr>
                    <td><p class="p3">CCD</p></td>
                    <td><p class="p3">Enrollment</p></td>
                </tr>
                <tr>
                  <td><canvas id="ccdData" style="width:150px !important; height:150px !important;"></canvas></td>
                  <td><canvas id="enrData" style="width:150px !important; height:150px !important;"></canvas></td>
                </tr>
                <tr>
                    <td><p class="p3">Reonomy</p></td>
                    <td><p class="p3">CoStar</p></td>
                </tr>
                <tr>
                    <td><canvas id="reonomyData" style="width:150px !important; height:150px !important;"></canvas></td>
                    <td><canvas id="costarData" style="width:150px !important; height:150px !important;"></canvas></td>
                </tr>
            </table>


            <!-- Section 1 - Analyze LLDB Market Info -->
            <!-- TODO: how many buttons do we need? -->
            <button class="accordion" style="margin-top: 30px;">Analyze LLDB Market Info</button>
            <div class="panel">
                <form id="getlldb" method="GET" action="/getlldb" enctype="multipart/form-data">
                    <input type="submit" value="Download raw LLDB" style="width: 100%;" />
                </form>
                <form id="getsalesforcelldb" method="GET" action="/getsalesforcelldb" enctype="multipart/form-data">
                    <input type="submit" value="Download SF LLDB" style="width: 100%;" />
                </form>
            </div>


            <!-- Section 2 - Expand to Review LLDB Record Counts -->
            <!-- <button class="accordion">LLDB Record Counts</button>
            <div class="panel">
                <p>Some data here </p>
                <p>Some data here </p>
                <p>Some data here </p>
                <p>Some data here </p>
                <p>Some data here </p>
            </div> -->
        </div>


    </div>

    <!-- scripts -->
    <!-- this one is for accordion buttons (NOT working in SF iframe) -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- main chart -->
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['CCD', 'Reonomy', 'Enrollment', 'CoStar', 'Salesforce'],
                datasets: [{
                    label: '# of Records',
                    data: [20, 173, 10025, 42, 1],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(153, 102, 255)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                }
            }
        });
    </script>

    <!-- ccd chart -->
    <script>
        const ctxccd = document.getElementById('ccdData');

        new Chart(ctxccd, {
            type: 'pie',
            data: {
                labels: ['PA'],
                datasets: [{
                    label: '# of Records',
                    data: [100],
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                }
            }
        });
    </script>

    <!-- enrol chart -->
    <script>
        const ctxenr = document.getElementById('enrData');

        new Chart(ctxenr, {
            type: 'pie',
            data: {
                labels: ['PA'],
                datasets: [{
                    label: '# of Records',
                    data: [100],
                    backgroundColor: [
                    'rgba(255, 205, 86, 0.2)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                }
            }
        });
    </script>

    <!-- enrol reonomy -->
    <script>
        const ctxreonomy = document.getElementById('reonomyData');

        new Chart(ctxreonomy, {
            type: 'pie',
            data: {
                labels: ['PA'],
                datasets: [{
                    label: '# of Records',
                    data: [100],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                }
            }
        });
    </script>

    <!-- enrol chart -->
    <script>
        const ctxcostar = document.getElementById('costarData');

        new Chart(ctxcostar, {
            type: 'pie',
            data: {
                labels: ['PA'],
                datasets: [{
                    label: '# of Records',
                    data: [100],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                }
            }
        });
    </script>

</body>

</html>